<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MeowMeow</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    MeowMeow
                </h1>
                <h2 class="subtitle">
                    欣賞您ㄉ貓貓：）
                </h2>
            </div>
        </div>
    </section>
    <br>
    <div class="container">
        <p>Hi, {{user}}</p>
        <p>here is your cat:</p>
        <img src="https://cataas.com/cat?{{time}}">
    </div>
    <hr>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>MeowMeow</strong> is an open source project on Github.
            </p>
        </div>
    </footer>
</body>